// Custom colors
$black-color: #000;
$white-color: #FFF;

// Theme colors
$dark-1-color: #0A1A2D;
$dark-2-color: #292929;
$dark-3-color: #363C40;
$gray-1-color: #C4C4C4;
$gray-2-color: #80919C;
$gray-3-color: #F1F5F8;
$gray-4-color: #BECFDB;
$gray-5-color: #EFF5FA;
$active-color: #14EFCC;
